/*Start Header  */
header.flex {
    justify-content: space-between;
    padding: 0 2.4rem;
    margin-top: 1.2rem;
}

header.flex nav {
    background-color: var(--bgHeader);
    border-radius: 30px;
    padding: 0.77rem 1.6rem;
    box-shadow: 1px 1px 20px rgba(53, 50, 50, 0.292);
}

header ul.flex {
    gap: 16px;

}

header ul li a {
    color: var(--title-color);
    opacity: 0.9;
    font-size: 0.88rem;
    font-weight: bold;
}

header ul li a:hover {
    color: var(--blue);
    opacity: 1;
}

header button {
    font-size: 1.2rem;
}

header button.menu {
    display: none;

}

/* End Header  */

/* Start Icon Button */
header button.icon-menu {
    font-size: 1.5rem;
}

header button.icon-menu,
header button.mode {
    background-color: var(--bgHeader);
    height: 2.4rem;
    width: 2.4rem;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(244, 165, 96, 0.249);
    color: var(--subtitle-color);
    transition: 0.2s;
}

header button.icon-menu:hover,
header button.mode:hover {
    color: var(--title-color);
    border: 1px solid orange;
}

header button.icon-close {
    font-size: 1.5rem;
    color: var(--subtitle-color);
    transition: 0.2s;
}

header button.icon-close:hover {
    font-size: 1.7rem;
    color: red;
    rotate: 160deg;
}

/* End Icon Button */

/*Start Pop Up  */
header .fixed {
    position: fixed;
    inset: 0;
    background-color: rgba(40, 40, 48, 0.91);
    z-index: 10;
    backdrop-filter: blur(4px);
}

header .fixed ul.modal {
    width: 60%;
    margin: 2rem auto 0;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: var(--secondary);
    animation: popup 0.6s linear;
}

@keyframes popup {
    0% {
        transform: scale(0);
    }

    60% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

header .fixed ul.modal li {
    padding: 0.5rem 0 0.77rem;
    border-bottom: 1px solid var(--border);
}

header .fixed ul.modal li:first-child {
    text-align: right;
    border: none;
    padding: 0;
    margin-bottom: -1rem;
}

header .fixed ul.modal li:last-child {
    border: none;
}

header .fixed ul.modal li a {
    font-size: 1rem;
}

/*End Pop Up  */

/*Start Media  */
@media(max-width:767px) {
    header.flex nav {
        display: none;

    }

    header button.menu {
        display: block;

    }
}

/*End Media  */